In [1]:
import matplotlib.pyplot as plt
from ipywidgets import interact, interact_manual, FloatSlider, IntSlider, IntRangeSlider, SelectMultiple, Checkbox, Dropdown, HBox, VBox, interactive_output, Label, Layout
from IPython.display import display

import sys
sys.path.append('py')
import fnr as fnr

In [2]:
ind = ['23101', '23102', '23103', '23104', '23105', '23106', '23107', '23108', '23109', '23110', '23120', '23130', '23140', '23150',
       '23160', '23170', '23180', '23190', '23201', '23207', '23208', '23210', '23220', '23231', '23232', '23235', '23236', '23241',
       '23243', '23244', '23245', '23251', '23259', '23260', '23270', '23280', '23290', '23301', '23302', '23309', '23310', '23320',
       '23331', '23332']

fnr = fnr.fnr_class(2008, 2020, {'lists': ['pubagg', 'a38np'], 'mappings': {'23IND': ind}})
fnr.df

                                           hele_landet     f01     f02  \
årgang nr_variabler aggregat aggregering
2008   BNP          22010    NAERING       2865.000000   174.0   130.0
                    22031    NAERING        177.000000     1.0     0.0
                    22412    NAERING       3119.000000   168.0   300.0
                    22688    NAERING      82035.000000  4214.0  9260.0
                    22970    NAERING        358.000000    20.0    37.0
...                                                ...     ...     ...
2020   VLP          2X87_88  A38NP           -4.791563     NaN     NaN
                    2X90_93  A38NP          -25.774232     NaN     NaN
                    2X90_97  PUBAGG         -15.766348     NaN     NaN
                    2X94_96  A38NP           -6.540276     NaN     NaN
                    2X97_98  A38NP           -2.941176     NaN     NaN

                                                   f03     f04     f05  \
årgang nr_variabler aggregat aggregering
2008   BNP          22010    NAERING          2.000000   267.0   275.0
                    22031    NAERING          0.000000     0.0     0.0
                    22412    NAERING        411.000000   132.0   126.0
                    22688    NAERING      14866.000000  2964.0  3059.0
                    22970    NAERING         51.000000    14.0    14.0
...                                                ...     ...     ...
2020   VLP          2X87_88  A38NP           -4.068086     NaN     NaN
                    2X90_93  A38NP          -28.501373     NaN     NaN
                    2X90_97  PUBAGG         -11.427417     NaN     NaN
                    2X94_96  A38NP           -1.583414     NaN     NaN
                    2X97_98  A38NP           -1.492537     NaN     NaN

                                             f06     f07     f08     f09  ...  \
årgang nr_variabler aggregat aggregering                                  ...
2008   BNP          22010    NAERING       104.0   109.0    52.0    28.0  ...
                    22031    NAERING         0.0     1.0     0.0     1.0  ...
                    22412    NAERING       164.0   142.0   112.0    69.0  ...
                    22688    NAERING      4083.0  3551.0  2901.0  1634.0  ...
                    22970    NAERING        19.0    17.0    13.0     8.0  ...
...                                          ...     ...     ...     ...  ...
2020   VLP          2X87_88  A38NP           NaN     NaN     NaN     NaN  ...
                    2X90_93  A38NP           NaN     NaN     NaN     NaN  ...
                    2X90_97  PUBAGG          NaN     NaN     NaN     NaN  ...
                    2X94_96  A38NP           NaN     NaN     NaN     NaN  ...
                    2X97_98  A38NP           NaN     NaN     NaN     NaN  ...

                                            f20         f21  f23          f50  \
årgang nr_variabler aggregat aggregering
2008   BNP          22010    NAERING       24.0    0.000000  0.0   517.000000
                    22031    NAERING       19.0    0.000000  0.0     7.000000
                    22412    NAERING       51.0    0.000000  0.0   280.000000
                    22688    NAERING      994.0    0.000000  0.0  6922.000000
                    22970    NAERING        5.0    0.000000  0.0    31.000000
...                                         ...         ...  ...          ...
2020   VLP          2X87_88  A38NP          NaN         NaN  NaN    -4.651397
                    2X90_93  A38NP          NaN  -49.314552  NaN   -27.176204
                    2X90_97  PUBAGG         NaN  -38.594451  NaN   -18.890238
                    2X94_96  A38NP          NaN  193.674406  NaN    -8.930286
                    2X97_98  A38NP          NaN         NaN  NaN    -5.432836

                                                   f30          f34  \
årgang nr_variabler aggregat aggregering
2008   BNP          22010    NAERING        408.000000   542.000000
                    22031    NAERING          1.000000     0.000000
                    22412    NAERING        632.000000   258.000000
                    22688    NAERING      17557.000000  6023.000000
                    22970    NAERING         76.000000    28.000000
...                                                ...          ...
2020   VLP          2X87_88  A38NP           -2.799474    -8.209252
                    2X90_93  A38NP          -22.891900    -9.926315
                    2X90_97  PUBAGG         -18.728241   -10.134534
                    2X94_96  A38NP          -14.297042   -10.658281
                    2X97_98  A38NP            3.602676    -6.417910

                                                  f38          f42  \
årgang nr_variabler aggregat aggregering
2008   BNP          22010    NAERING       161.000000    75.000000
                    22031    NAERING         1.000000     4.000000
                    22412    NAERING       254.000000   173.000000
                    22688    NAERING      6452.000000  4073.000000
                    22970    NAERING        30.000000    20.000000
...                                               ...          ...
2020   VLP          2X87_88  A38NP          -6.349726    -4.859101
                    2X90_93  A38NP         -27.576545   -27.431149
                    2X90_97  PUBAGG        -17.595083   -17.032444
                    2X94_96  A38NP          -7.154713    -5.873546
                    2X97_98  A38NP          -5.970149    -1.492537

                                                  f46          f54
årgang nr_variabler aggregat aggregering
2008   BNP          22010    NAERING       253.000000    91.000000
                    22031    NAERING        35.000000    38.000000
                    22412    NAERING       374.000000   160.000000
                    22688    NAERING      9298.000000  3492.000000
                    22970    NAERING        41.000000    17.000000
...                                               ...          ...
2020   VLP          2X87_88  A38NP          -4.031632    -5.751038
                    2X90_93  A38NP         -30.350703   -30.788847
                    2X90_97  PUBAGG        -20.758370   -20.536524
                    2X94_96  A38NP         -10.338661    -8.746253
                    2X97_98  A38NP          -4.570896    -9.070034

[23355 rows x 29 columns]

In [ ]:
fnr.return_aggregate('2X29_30', 'VLP')

In [9]:
def plott_aggregat(df):
    aargang_min = df.index.get_level_values('årgang').min().year
    aargang_max = df.index.get_level_values('årgang').max().year
    variabler = [x for x in df.index.get_level_values('nr_variabler').unique().to_list() if x != 'BNPF']
    aggregeringer = df.index.get_level_values('aggregering').unique().to_list()
    regionsreformer = ['-2017', '2018-2019', '2020-']

    def lag_aggregater(variabel, aggregering):
        if variabel == 'BRIN':
            return [x for x in df[df.index.get_level_values('aggregering') == aggregering].index.get_level_values('aggregat').unique().to_list() if x[0] == '8']
        else:
            return [x for x in df[df.index.get_level_values('aggregering') == aggregering].index.get_level_values('aggregat').unique().to_list() if x[0] == '2']

    def lag_fylker(regionsreform):
        if regionsreform == '-2017':
            return ['f01', 'f02', 'f03', 'f04', 'f05', 'f06', 'f07', 'f08', 'f09', 'f10', 'f11', 'f12', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21', 'f23']
        if regionsreform == '2018-2019':
            return ['f01', 'f02', 'f03', 'f04', 'f05', 'f06', 'f07', 'f08', 'f09', 'f10', 'f11', 'f12', 'f14', 'f15', 'f50', 'f18', 'f19', 'f20', 'f21', 'f23']
        if regionsreform == '2020-':
            return ['f30', 'f03', 'f34', 'f38', 'f42', 'f11', 'f46', 'f15', 'f50', 'f18', 'f54', 'f21', 'f23']

    storrelse_wgt = FloatSlider(value=10, min=0, max=20)
    aargang_wgt = IntRangeSlider(value=[aargang_min, aargang_max], min=aargang_min, max=aargang_max)
    variabel_wgt = Dropdown(options=variabler, description = 'Variabel', style={'description_width': '3cm'})
    aggregering_wgt = Dropdown(options=aggregeringer, value=aggregeringer[1], description = 'Aggregering', style={'description_width': '3cm'})
    aggregat_wgt = Dropdown(options=lag_aggregater(variabler[0], aggregeringer[1]), description = 'Aggregat', style={'description_width': '3cm'})
    regionsreformer_wgt = Dropdown(options=regionsreformer, value=regionsreformer[2], description = 'Regionsreform', style={'description_width': '3cm'})
    fylker_wgt = SelectMultiple(options=lag_fylker(regionsreformer[2]), rows=20)
    stack_wgt = Checkbox(value=True, description = 'Stable stolper')

    def oppdater_aggregater(arg):
        aggregat_wgt.options = lag_aggregater(variabel_wgt.value, aggregering_wgt.value)

    def oppdater_fylker(arg):
        fylker_wgt.options = lag_fylker(regionsreformer_wgt.value)

    variabel_wgt.observe(oppdater_aggregater)
    aggregering_wgt.observe(oppdater_aggregater)
    regionsreformer_wgt.observe(oppdater_fylker)

    def plot_naering(aargang, aggregering, aggregat, variabel, fylker, stack, storrelse):
        try:
            betingelse = (
                (df.index.get_level_values('aggregering') == aggregering) &
                (df.index.get_level_values('aggregat') == aggregat) &
                (df.index.get_level_values('nr_variabler') == variabel) &
                (df.index.get_level_values('årgang').year >= aargang[0]) &
                (df.index.get_level_values('årgang').year <= aargang[1])
            )
            fnr.df[betingelse][list(fylker)].reset_index().set_index('årgang').plot.bar(figsize=(storrelse, storrelse/2), stacked=stack)
            plt.xlabel('Årgang')
            plt.legend(ncol=10)
            plt.show()
        except TypeError:
            pass

    ui = VBox([aargang_wgt, variabel_wgt, aggregering_wgt, aggregat_wgt, regionsreformer_wgt, fylker_wgt, stack_wgt, storrelse_wgt])
    out = interactive_output(plot_naering, {'aargang': aargang_wgt,
                                            'aggregering': aggregering_wgt,
                                            'aggregat': aggregat_wgt,
                                            'variabel': variabel_wgt,
                                            'fylker': fylker_wgt,
                                            'stack': stack_wgt,
                                            'storrelse': storrelse_wgt})
    display(HBox([ui, out]))


plott_aggregat(fnr.df)

HBox(children=(VBox(children=(IntRangeSlider(value=(2008, 2020), max=2020, min=2008), Dropdown(description='Va…